@import '../components/variables.css';

.main__inner {
  position: relative;
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: var(--padding-medium);
}

.page {
  flex-grow: 1;
  width: 100%;
  display: inherit;
  flex-direction: inherit;
  gap: var(--padding-medium);
}

.page__header {
  display: inherit;
  flex-direction: inherit;
  padding: var(--padding-small)  var(--padding-medium);
  border: 1px solid var(--color-black);
  border-radius: var(--border-radius);
}

.page__title {
  font-weight: 600;
  font-size: var(--font-size-large);
}

.page__description {
  font-size: var(--font-size-small);
  color: var(--color-gray);
}

.page__content {
  flex-grow: 1;
}