@import '../variables.css';

.menu__header { }
.menu__title {
  font-weight: 600;
  font-size: var(--font-size-medium);
}
.menu__content {
  flex-grow: 1;
  display: inherit;
  flex-direction: inherit;
  gap: var(--padding-medium);
  padding-bottom: var(--padding-medium);
  overflow-y: auto;
}