@import './variables.css';

.header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 320px 1fr auto;
  padding: var(--padding-small) 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-black);
  z-index: 999;
  transition: top var(--transition-duration) ease;
}

.menu {
  position: fixed;
  bottom: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
  margin-top: var(--header-height, 0);
  padding: var(--padding-medium);
  background-color: var(--color-white);
  border-right: 1px solid var(--color-black);
  transition: left var(--transition-duration) ease, top var(--transition-duration) ease;
  z-index: 999;
}

.main {
  display: flex;
  flex-direction: column;
  transition: padding-left var(--transition-duration) ease;
}

.main__footer {
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--color-black);
  color: var(--color-white);
}