@import '../components/variables.css';

.page__content {
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
}

.paragraph {
  display: inherit;
  flex-direction: inherit;
  gap: var(--padding-normal);;
}

.paragraph__title {
  font-weight: 600;
  font-size: var(--font-size-medium);
}

.paragraph__text {
  font-size: var(--font-size-normal);
}

.page__link {
  transition: color var(--transition-duration) ease, text-decoration var(--transition-duration) ease;
}

.page__link:link, .page__link:visited {
  color: rgb(45, 65, 255);
  text-decoration: none;
}

.page__link:hover, .page__link:active {
  color: rgb(100, 115, 250);
  text-decoration: underline;
}