@import '../variables.css';

.page__content {
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
}

.paragraph {
  display: inherit;
  flex-direction: inherit;
  gap: var(--padding-normal);;
}

.paragraph__title {
  font-weight: 600;
  font-size: var(--font-size-medium);
}

.paragraph__text {
  font-size: var(--font-size-normal);
}