@import './variables.css';

.header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 320px 1fr auto;
  padding: var(--padding-small) 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-black);
  z-index: 999;
  /* transform: translateY(0); */
  transition: transform var(--transition-duration) ease;
  /* will-change: transform; */
}

.menu {
  position: fixed;
  /* top: 0; */
  /* bottom: 0; */
  /* min-width: var(--menu-width);
  max-width: var(--menu-width); */
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
  margin-top: var(--header-height, 0);
  padding: var(--padding-medium);
  background-color: var(--color-white);
  border-right: 1px solid var(--color-black);
  transition: left var(--transition-duration) ease, transform var(--transition-duration) ease;
  z-index: 999;
  /* transform: translateY(0); */
  /* will-change: transform; */
}

.main {
  display: flex;
  flex-direction: column;
  /* padding-left: var(--menu-width); */
  transition: padding-left var(--transition-duration) ease;
}

.main__footer {
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--color-black);
  color: var(--color-white);
}