.loader {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.2em solid var(--color-light-gray);
  border-radius: 50%;
  border-top-color: var(--color-black);
  animation: loader-spin 1s ease-in-out infinite;
}

@keyframes loader-spin {
  to { transform: rotate(360deg); }
}

.loader-container {
  width: 100%;
  height: 100%;
}